h1= title
p Welcome to the node.js dev server for CloudSpokes challenges! The server returns JSON payloads for values you may need for development challenges. The following resources are available and all return JSON:
ul
  li: a(href='/members') Members
  li: a(href='/challenges') Challenges
  li: a(href='/categories') Challenges Categories
  li: a(href='/scorecards') Scorecard Types
  li: a(href='/terms') Terms of Service
  li: a(href='/challenge/0') Challenge
  li: a(href='/challenge/0/reviewers') Challenge Reviewers
  li: a(href='/challenge/0/notifiers') Challenge Notifiers
  li: a(href='/challenge/0/participants') Challenge Participants
  li: a(href='/challenge/0/prizes') Challenge Prizes
  li: a(href='/challenge/0/categories') Challenge Categories
  li: a(href='/challenge/0/assets') Challenge Assets
  li: a(href='/questions') Quick Quiz Questions